* {
    font-family: 'Roboto'
}

body {
    margin: 0;
}

header, footer, main {
    background-color: #1F2937;
}

h1 {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 0;
}

li, .subText {
    font-size: 18px;
    color: #E5E7EB;
}

.quoteSection {
    background-color: #E5E7EB;
}

.quoteSection h4 {
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    font-weight: lighter;
}

.callToAction, button {
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

/**************************************/
/*NAV REALIGNMENT*/
/**************************************/
nav, ul {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 10px;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 25%;
    padding-top: 5px;

}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 45%;
    font-weight: 300;
}

main {
    display: flex;
    margin-top: 100px;
    padding-bottom: 100px;
}

#mainLeftSection {
    flex-basis: 30%;
    padding-left: 15%;
}

.mainSectionImage {
    padding-left: 40px;
    flex-basis: 40%;
}

.signUpButton {
    border: 1px solid #3882F6;
    color:#F9FAF8;
    padding: 7px 25px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*************MORE INFORMATION**********/
.informationSection {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.imageSection {
    flex-basis: 10%;
    text-align: center;
}

.spaceBetween{
    margin-left: 4%;
}

.imageSection > img {
    max-width: 100%;
    border-radius: 30px;
    border: 5px solid #3882F6;
}

/************* QUOTE PART ***************/
.quoteSection {
    padding: 50px 0 70px 0;
    text-align: left;
}

h4 {
    max-width: 50%;
    padding-left: 25%;
    margin-bottom: 0;
}

span {
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
}

/**** CALL TO ACTION ******/
.actionWhiteSpace {
    padding: 40px 10%;
    margin: 60px 0;
}

.callToAction {
    display: flex;
    padding-left: 10%;
    border-radius: 10px;
    height: 140px;
}

.callToActionLeft {
    width: 80%;
 }

h6 {
    color:#F9FAF8;
    font-size: 22px;
    margin-bottom: 0;
}

.signUpText {
    margin-top: 0;
    color:#F9FAF8;
}

.actionButton > button {
    border: 3px solid #F9FAF8;
    color:#F9FAF8;
    padding: 7px 25px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

/********** Copyright bottom*******/
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
}